{% extends 'root.html' %}
{% load static %}
{% block content %}
<!-- Main content -->
    <section class="content">
            <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ position_count }}</h3>
              <p>No. of Positions</p>
            </div>
            <div class="icon">
              <i class="fa fa-tasks"></i>
            </div>
            <a href="{% url 'viewPositions' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ candidate_count }}</h3>          
              <p>No. of Candidates</p>
            </div>
            <div class="icon">
              <i class="fa fa-black-tie"></i>
            </div>
            <a href="{% url 'viewCandidates' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ voters_count }}</h3>             
              <p>Total Voters</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a href="{% url 'adminViewVoters' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ voted_voters_count }}</h3>
              <p>Voters Voted</p>
            </div>
            <div class="icon">
              <i class="fa fa-edit"></i>
            </div>
            <a href="{% url 'viewVotes' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>Votes Tally
            <span class="pull-right">
              <a href="{% url 'printResult' %}" class="btn btn-success btn-sm btn-flat"><span class="glyphicon glyphicon-print"></span> Print</a>
            </span>
          </h3>
        </div>
      </div>

     {% for position in positions %}
     {% if not forloop.counter|divisibleby:2 %}
     <div class='row'>
     {% endif %}
     <div class='col-sm-6'>
      <div class='box box-solid'>
        <div class='box-header with-border'>
          <h4 class='box-title'><b>{{ position.name }}</b></h4>
        </div>
        <div class='box-body'>
          <div class='chart'>
            <canvas id='{{ position.name|slugify }}' style='height:200px'></canvas>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
     </div>
     {% endif %}

     {% endfor %}
     {% if not forloop.counter|divisibleby:2 %}
     </div>
     {% endif %}
      </section>
      
      {% endblock content %}

      <!-- New Block -->
      {% block custom_js %}
      <script src="{% static 'bower_components/chart.js/Chart.js' %}"></script>
<!-- ChartJS Horizontal Bar -->
<script src="{% static 'bower_components/chart.js/Chart.HorizontalBar.js' %}"></script>
      
{% for key, value in chart_data.items  %}
<script>
  $(function() {
    var rowid = '{{ value.pos_id }}';
    var description = '{{ key|safe|slugify }}';
    var barChartCanvas = $('#' + description).get(0).getContext('2d')
    var barChart = new Chart(barChartCanvas)
    var barChartData = {
      labels: {{ value.candidates|safe }},
      datasets: [{
        label: 'Votes',
        fillColor: 'rgba(60,141,188,0.9)',  
        strokeColor: 'rgba(60,141,188,0.8)',
        pointColor: '#3b8bba',
        pointStrokeColor: 'rgba(60,141,188,1)',
        pointHighlightFill: '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data: {{ value.votes|safe }}
      }]
    }
    var barChartOptions = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: true,
      //String - Colour of the grid lines
      scaleGridLineColor: 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - If there is a stroke on each bar
      barShowStroke: true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth: 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing: 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing: 1,
      //String - A legend template
     {% comment %}
       
     legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>', //! Take note*/
     
     {% endcomment %}
      //Boolean - whether to make the chart responsive
      responsive: true,
      maintainAspectRatio: true
    }

    barChartOptions.datasetFill = false
    var myChart = barChart.HorizontalBar(barChartData, barChartOptions)
    //document.getElementById('legend_'+rowid).innerHTML = myChart.generateLegend();
  });
</script>
{% endfor %}

{% endblock custom_js %}