{% load static %}
<html lang="en">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"">

</head>
<body>
  
  <div style="margin-top: -50px;" class="text-center font-weight-bold h1">
  {{ title }} Result
  </div>
  <table id="example1" class="">
{% for key, value in positions.items  %} {# Loop 1 #}
<table id="example1" class="text-center table table-bordered">
<tr>
  <th style="background-color: aqua;" class="text-center" colspan="3">{{ key }} | Maximum Number Of Winners : {{ value.max_vote }}</th>
  </tr>
  <tr>
  <th class="text-center" style="width: 5%;">SN</th>
  <th class="text-center" style="width: 60%;">Candidate Name </th>
  <th class="text-center" style="width: 35%;">Total Votes Recorded</th>
</tr>
{% for data  in value.candidate_data %} {# Loop 2 #}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.votes }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3">No Candidates Vying For This Position</td>
  </tr>
{% endfor %} {# Please Close Loop 2  #}

<tr>
  <th class="text-center" colspan="3"> {{ value.winner|safe }} </th>
  </tr>
  </table>
{% endfor %} {# Please Close Loop 1  #}

</tbody>
  </table>

</body>
</html>