{% extends 'root.html' %}
{% block content %}
<section class="content">
  <div class="row">
<div class="col-xs-12">
<div class="box">
<div class="box-header with-border">
  <a href="#addnew" data-toggle="modal" class="btn btn-primary btn-sm btn-flat"><i
          class="fa fa-plus"></i> New</a>
</div>
<div class="box-body">
  <table id="example1" class="table table-bordered">
      <thead>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
      </thead>
      <tbody>
    {% for voter in voters %}
      
    <tr>
      <td>{{ voter.admin.last_name }}</td>
      <td>{{ voter.admin.first_name }}</td>
      <td>{{ voter.admin.email }}</td>
      <td>{{ voter.phone }}</td>
      
      <td>
        <button class='btn btn-success btn-sm edit btn-flat' data-id='4'><i class='fa fa-edit'></i> Edit</button>
        <button class='btn btn-danger btn-sm delete btn-flat' data-id='4'><i class='fa fa-trash'></i> Delete</button>
      </td>
    </tr>
    {% endfor %}      

                            </tbody>
  </table>
</div>
</div>
</div>
</div>
</section>

{% endblock content %}

{% block modal %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b>Add New Voter</b></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST" action="{% url 'adminViewVoters' %}">
              {% csrf_token %}

             
              <div class="modal-body">
                  {% for field in form1  %}
                  <div class="form-group has-feedback">
                      <span class="text-danger">{{field.errors}}</span>
                      {{field.label_tag}}
                      {{field}}
                  </div>
                  {% endfor %}

                  {% for field in form2  %}
                  <div class="form-group has-feedback">
                      <span class="text-danger">{{field.errors}}</span>
                      {{field.label_tag}}
                      {{field}}
                  </div>
                  {% endfor %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i> Save</button>
            </form>
          </div>
      </div>
  </div>
</div>
{% endblock modal %}