{% extends 'root.html' %}
{% block content %}
<section class="content">
  <div class="row">
<div class="col-xs-12">
<div class="box">
<div class="box-header with-border">
  <a href="#addnew" data-toggle="modal" class="btn btn-primary btn-sm btn-flat"><i
          class="fa fa-plus"></i> New</a>
</div>
<div class="box-body">
  <table id="example1" class="table table-bordered">
      <thead>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
      </thead>
      <tbody>
    {% for voter in voters %}
      
    <tr>
      <td>{{ voter.admin.last_name }}</td>
      <td>{{ voter.admin.first_name }}</td>
      <td>{{ voter.admin.email }}</td>
      <td>{{ voter.phone }}</td>
      
      <td>
        <button class='btn btn-success btn-sm edit btn-flat' data-id='{{ voter.id }}'><i class='fa fa-edit'></i> Edit</button>
        <button class='btn btn-danger btn-sm delete btn-flat' data-id='{{ voter.id }}'><i class='fa fa-trash'></i> Delete</button>
      </td>
    </tr>
    {% endfor %}      

                            </tbody>
  </table>
</div>
</div>
</div>
</div>
</section>

{% endblock content %}

{% block modal %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b>Add New Voter</b></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST" action="{% url 'adminViewVoters' %}">
              {% csrf_token %}

             
              <div class="modal-body">
                  {% for field in form1  %}
                  <div class="form-group has-feedback">
                      <span class="text-danger">{{field.errors}}</span>
                      {{field.label_tag}}
                      {{field}}
                  </div>
                  {% endfor %}

                  {% for field in form2  %}
                  <div class="form-group has-feedback">
                      <span class="text-danger">{{field.errors}}</span>
                      {{field.label_tag}}
                      {{field}}
                  </div>
                  {% endfor %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i> Save</button>
          </div></form></div></div></div></div>

<!-- Edit -->
<div class="modal fade" id="edit">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b>Edit Voter</b></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST" action="{% url 'updateVoter' %}">
              {% csrf_token %}
              <input type="hidden" class="id" name="id">
              <div class="form-group">
                  <label for="edit_firstname" class="col-sm-3 control-label">Firstname</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="edit_firstname" name="first_name">
                  </div>
              </div>
              <div class="form-group">
                  <label for="edit_lastname" class="col-sm-3 control-label">Lastname</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="edit_lastname" name="last_name">
                  </div>
              </div>
              <div class="form-group">
                <label for="edit_email" class="col-sm-3 control-label">Email</label>

                <div class="col-sm-9">
                  <input type="email" class="form-control" id="edit_email" name="email">
                </div>
            </div>
            <div class="form-group">
              <label for="edit_phone" class="col-sm-3 control-label">Phone</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="edit_phone" name="phone">
              </div>
          </div> 


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-success btn-flat" name="edit"><i class="fa fa-check-square-o"></i> Update</button>
            </form>
          </div>
      </div>
  </div>
</div>

<!-- Delete -->
<div class="modal fade" id="delete">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b>Deleting...</b></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST" action="{% url 'deleteVoter' %}">
              <input type="hidden" class="id" name="id">
              {% csrf_token %}
              <div class="text-center">
                  <p>DELETE VOTER</p>
                  <h2 class="bold fullname"></h2>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-danger btn-flat" name="delete"><i class="fa fa-trash"></i> Delete</button>
            </form>
          </div>
      </div>
  </div>
</div>

{% endblock modal %}



{% block custom_js %}
  
<script>
  $(function() {
      $(document).on('click', '.edit', function(e) {
          e.preventDefault();
          $('#edit').modal('show');
          var id = $(this).data('id');
          getRow(id);
      });

      $(document).on('click', '.delete', function(e) {
          e.preventDefault();
          $('#delete').modal('show');
          var id = $(this).data('id');
          getRow(id);
      });


  });

  function getRow(id) {
      $.ajax({
          type: 'GET',
          url: '{% url "viewVoter" %}',
          data: {
              id: id
          },
          dataType: 'json',
          success: function(response) {
              $('.id').val(response.id);
              $('#edit_firstname').val(response.first_name);
              $('#edit_lastname').val(response.last_name);
              $('#edit_phone').val(response.phone);
              $('#edit_email').val(response.email);
              $('.fullname').html(response.first_name + ' ' + response.last_name);
          }
      });
  }
  </script>
{% endblock custom_js %}
  
